.ProjectFrame{
    display: flex;
    flex-direction: row;
    height: 100%;
    /* margin-bottom: 500px; */

}


.Architecture{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;

}
.UrbanDesign {
    width: 80%;
    height: auto;
    margin-top: 40px;
}

.Computers{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
}

.SoftwareEngineering {
    width: 80%;
    height: auto;
    margin-top: 40px;
}