.Box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    top: 50; left: 0;
    width: 100%; height: 100%;
}

.Avatar{
    width: 50%;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 0px;
    background-image: contain;
    margin-bottom: 50px;
}

.Text {
    margin-top: 2%;
    width: 50%;
    color: white;
    position: relative;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}

.Text-Intro {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    font-size: 3.4vw;
}

.Text-Description {
    text-align: left;
    font-size: 1.8vw;
    margin-top: 5%;
    text-align: justify;
    text-justify: inter-word;
    width: 100%;

}

.Logo2{
    max-height: 3.8vw;
    max-width: 100%;
    margin-left: 0.3em; 
    margin-block-start: 0.6em;

}

h2{
    white-space: nowrap;
    flex-wrap: nowrap;
    margin-top: 20px;
    display: block;
    font-size: 1.3em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

@media (max-width: 900px) {
  .Text {
    margin: auto;
    margin-top: 5%;
  }
  .Text-Intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .Text-Description{
    font-size: 2.2vw;
  }
}