.ResumetBox{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    position: absolute;
    top: 50; left: 0;
    width: 100%; height: 100%;
}

h1 {
    color: white;
    margin-bottom: 0px;
}

.InfoBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    padding: 10px;
}

.Personal{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
}

.Info{
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.ResumeLeft {
    width: 35%;
    margin-left: 7%;
    padding: 10px;

}

.PersonalLeft {
    text-align: left;
}

.ResumeRight{
    width: 45%;
    margin-right: 7%;
    padding: 10px;
}

.PersonalRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    text-align: right;
    margin-top: 30px;
}

.Profile{
    text-align: left;
}

.TitleProfile{
    color: white;
}

.DescriptionProfile{
    margin-block-start: 1.33em;
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

.Education{
    text-align: left;
}

.TitleEducation{
    color: white;
}

.DescriptionEducation{
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

.Skills{
    text-align: left;
}

.TitleSkills{
    color: white;
}

.DescriptionSkills{
    display: block;
    margin-block-start: 1.33em;
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

.Projects{
    text-align: left;
}

.TitleProjects{
    color: white;
}

.DescriptionProjects{
    display: block;
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

p {
    font-size: 1.2vw;
    margin-top: 3px;
    margin-bottom: 3px;
}

.Experience{
    text-align: left;
}

.TitleExperience{
    color: white;
}

.DescriptionExperience{
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

ul{
    font-size: 12px;
    color: white; 
}

strong {
    font-size: 14px;
}

.Social{
    width: 18px;
}

.Socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}


@media (max-width: 900px) {

    .Info{
        display:block;
        margin: auto;
    }

    .ResumeLeft{
        width: 80%;
        margin-left: 7%;
        padding-top: 0%;
    }

    .ResumeRight{
        width: 80%;
        margin-left: 7%;
        padding-top: 0;
    }

    p{
        font-size: 2.2vw;
    }

    li{
        font-size: 2.2vw;
    }

    .PersonalRight {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        margin-top: 0.60em;
    }

    h4{
        font-size: 3vw; 
        margin-top: 2%;
    }

    strong {
        font-size: 3vw; 
    }

    .DescriptionProfile, .DescriptionSkills, .DescriptionExperience, .DescriptionProjects, .DescriptionEducation{
        margin-top: 2%;
    }

    .Social{
        width: 10px;
    }

    .Section{
        margin-top: 2%;
        margin-bottom: 2%;
    }

}